<%- include("./partials/header") %>
<body class="bg-blue-7000">
    <div class="h-24 bg-green-600 w-full mb-4 flex justify-center items-center"><h2 class="text-white text-3xl py-2">Brandon HiveOs feeds</h2></div>
    
    <h2 class="text-2xl font-semibold text-center">Welcome to the Dashboard</h2>

    <div class="container details  mx-auto mb-8">
        Name : <%= localname %> <br/>
        Owner : <%= owner %> <br/>
        Worker count : <%= worker %> <br/>
        Rigs count : <%= rig_count %> <br/>
        Disabled Rigs : <%= disabled_rigs %> <br/>

    </div>
         <!-- Layout showing the temperature of the rigs -->
        <h4 class="font-semibold text-xl text-center">Temp Layout</h4>
        <table class="border border-seperate border-green-800 mx-auto">
            <thead class="">
                <tr>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">GPU_red_temp</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Asic_red_temp</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">GPU_red_fan</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Asic_red_fan</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Gpu_red_CPU_temp</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Gpu_red_mem_temp</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Gpu_red_asr</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Asic_red_asr</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Gpu_red_la</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Asic_red_la</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% temp.forEach((tem)=>{ %>
                        <td  class="text-center font-semibold border border-seperate bg-yellow-600"> <%= tem %></td>
                     <% }) %>
                </tr>
            </tbody>
        </table>

        <!-- layout showing the Money layout  -->
        <h4 class="font-semibold text-xl text-center">Money Layout</h4>
        <table class="border border-seperate border-green-800 my-4 mx-auto">
            <thead class="">
                <tr>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Payment status</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Balance</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Discount</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Daily cost</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Monthly cost</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Daily price</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Daily use rigs</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Daily use asr</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Price per rigs</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Price per asic</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% money.forEach((tem)=>{ %>
                        <td  class="text-center border border seperate font-semibold bg-yellow-600 border border-seperate"> <%= tem %></td>
                     <% }) %>
                </tr>
            </tbody>
        </table>
  
        <!-- Layout showing the content of the Stats -->

        <h4 class="font-semibold text-xl text-center">STATS LAYOUT </h4>
        <table class="my-2 mx-auto">
            <thead>
                <tr>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Gpus total</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Gpus online</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Gpus offline</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Asics total</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Asics online</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Asics offline</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Boards total</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white" >Boards online</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white" >Boards offline</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Boards overheated</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white" >CPUS online</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Power Draw</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% second_stats.forEach((sec)=>{ %>
                        <td class="text-center font-semibold border border-seperate bg-yellow-600"><%= sec %></td>
                    <% }) %>
                </tr>
            </tbody>
        </table>
        <table class="border border-green-800 border-seperate my-4 mx-auto">
            <thead>
                <tr>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Worker total</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Worker offline</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Worker online</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Workers overheated</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white"> Workers overloaded</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Rigs total</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white">Rigs online</th>
                    <th class="border border-green-600 px-2 py-2 bg-gray-800 text-white" >Rigs offline</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% first_stats.forEach((stat)=>{ %>
                        <td class="text-center font-semibold border border-seperate bg-yellow-600"><%= stat %></td>
                     <% })%>
                </tr>
            </tbody>
        </table>
       
<%- include("./partials/footer") %>