<%- include("./partials/header") %>
<body class="bg-blue-7000">
    <div class="h-24 bg-green-400 w-full mb-4 flex justify-center items-center"><h2 class="text-white text-3xl py-2">Brandon HiveOs feeds</h2></div>
    
    <h2 class="text-2xl font-semibold text-center">Welcome to the Dashboard</h2>

    <div class="container details">
        Name : <%= localname %>
        Owner : <%= owner %>
        Worker count : <%= worker %>
        Rigs count : <%= rig_count %>
        Disabled Rigs : <%= disabled_rigs %>

    </div>
</body>
<%- include("./partials/footer") %>